
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 *
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 3.5em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  float: left;
  width: 480px;
  width:100%;
  position: relative;
  background-image: url("https://s17.postimg.cc/qltzwfm9b/head-resizeimage.jpg");
  background-size: cover;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 1.5em;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  font-size: 13px;
  color: #666;
  padding: 1.5em 0;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  padding-top: 1em;
  flex-grow: 1;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em;
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}
.scores__table tr:nth-child(1) th:nth-child(3) {
  text-align: right;
}
.scores__table tr:nth-child(1) th:nth-child(5) {
  text-align: left;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
 .scores__table td:nth-child(1) {
  text-align: center;
}


/*
 *
 * Weather
 *
 */

.weather {
  float: right;
  width: 320px;
  padding: 1em;
  width:100%
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Weather
 *
 */

.recent-news {
  flex-grow: 1;
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 140px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  padding: 1.5em 0;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  text-align:center;
  font-size:15px;
}

footer li {
  display: inline-block;
  margin: auto;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}

img, embed, object, video {
  max-width: 100%;
}
  .fa-bars {
    display: none;
}

.description {
  font-size: 14.5px;
  line-height:1.2em;
}
.description h2 {
  font-size: 17px;
}
.news a, .news {
  font-size: 14.5px;
}
.news__more {
  font-size: 16px;
}
  .snippet__title a {
    font-size: 18px;
  }


/*
 * Responsive for when viewport size is less than 600px
 *
 */
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 2em;
    margin: 1em auto;
  }
  .header__logo {
    margin-right: 0;
  }
   .nav ul {
    display: none;
  }

 .fa-bars {
    float: right;
    color: gray;
    padding: 1em .5em;
    font-size: 2em;
    line-height: 1.2em;
    display: flex;
    cursor: pointer;
  }

  /*
   *
   * making list of nav links appear when clicking on the burger icon
   *
   */
   .nav.responsive {
     width: 100%;
   }
   .nav__item {
     width: 100%;
   }
   .nav.responsive ul {
     display:block;
   }
   .nav.responsive {
     display: block;
   }
   .scores__table {
   font-size: 15px;
   }
   .hide {
     display: none;
   }
   .scores__location {
     display: none;
   }
   .snippet__thumbnail {
     display: none;
   }
   .snippet {
     font-size: 15.5px;
     display: flex;
     flex-wrap: wrap;
   }
 }
 /*
  * Minor breakpoint: Responsive for when viewport size is more then 427 and less than 600px
  *
  */
@media screen and (min-width:427px) and (max-width:600px) {
  .header__title {
    font-size: 2.6em;
  }
  .fa-bars {
    font-size: 2.6em;
  }
  .weather {
    font-size: 15px;
  }
}
/* normal- ipad?  */
@media screen and (min-width:601px) and (max-width:929px){

  .content {
    display: flex;
    flex-wrap: wrap;
   }
  .hero {
    width: 55%;

}
  .news {
    width: 45%;

  }
  .weather {
    width: 45%;
    order:2;
  }
  .scores {
    order: 1;
    width: 55%;
  }
  .recent-news {
    order: 3;
    width: 100%;
  }
  .weather {
    font-size: 14.5px;
  }
  .scores__table {
  font-size: 13.5px;
  }
  .scores__location {
    display: none;
  }
  .news a {
    font-size: 15px;
  }
  .top-news__item {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.weather__today__temp {
  font-size: 2.6em;
}
.weather__today__deg {
  font-size: 1.9em;
}
.snippet__title a {
    font-size: 18px;
  }
.snippet__thumbnail {
  width: 150px;
  padding-bottom: 1.5em;
}

  /* .weather {
    width: 50%;
    order: 2;
  }
  .scores {
    width: 50%;
    order: 3;
  } */
}

/*
 * Mini breakpoint - Responsive for when viewport size is between 720px & 929px
 *
 */
@media screen and (min-width: 720px) and (max-width: 929px) {
  .snippet {
    font-size: 15.7px;
  }
}


@media screen and (min-width: 845px) and (max-width: 929px) {
  .snippet {
    font-size: 15.7px;
  }
  .scores__table {
    font-size: 13px;
  }
  .scores__location {
    display: block;
  }
}
/*
 * Responsive for when viewport size is at least 930px
 *
 */
@media screen and (min-width: 930px){
  .content {
    display: flex;
    flex-wrap: wrap;
   }
   .hero {
     width: 55%;
     order: -1;
 }
   .weather {
     width: 45%;
     order: 0;
 }
   .news {
     width: 45%;
     order: 1;

   }
   .scores {
     order: 2;
     width: 55%;
   }
   .recent-news {
     order: 3;
     width: 100%;
   }
   .description {
     font-size: 16px;
     line-height:1.2em;
   }
   .description h2 {
     font-size: 18px;
   }
   .news a, .news {
     font-size: 16px;
     line-height: 1.2em;
   }
  .scores__table {
  font-size: 15px;
  }
  .weather__desc, .weather__location {
    padding-left: 20px;
  }
  .weather {
  font-size: 16px;
  }
.snippet__title a {
    font-size: 18px;
  }
  .snippet__thumbnail {
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1em;
    padding-bottom: 1.5em;

  }
}
/*
 * Responsive for when viewport size is at least 1045px
 *
 */

 @media screen and (min-width: 1045px) {
   main, .header__inner, .nav, .content {
     width: 1045px;
     margin-left: auto;
     margin-right: auto;
   }
   .sp-column1 {
     width: 47%;
     float:left;
     order:3;
     padding-right: 2%;
     padding-left: 1%;
     height:100%;
     text-align: justify;
   }
   .sp-column2 {
     width:47%;
     float: right;
     order: 4;
     height: 100%;
     padding-left:2%;
     padding-right: 1%;
     text-align: justify;
   }
   .snippet__thumbnail {
     width: 150px
   }
 }
